# Секреты
.env

# База данных (чтобы не перезаписывать боевую базу при обновлении кода)
secretary.db
*.sqlite3

# Виртуальные окружения Python
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class